body {
  background: #fff;
  color: #000; }

.container {
  display: flex;
  transform: translateY(100px); }

.foo::before {
  content: "foo on smaller"; }

@media screen and (min-width: 769px) {
  .foo::before {
    content: "foo on medium"; } }

.bar::before {
  content: "bar on small"; }

@media screen and (min-width: 769px) {
  .bar::before {
    content: "bar on medium"; } }
