$background: #fff;

body {
  background: $background;
  color: #09f;
  font-size: 16px;
}

.container {
  display: flex;
  transform: translateY(100px);
}

@media screen and (min-width: 769px) {
  .foo::before {
    content: "style 1";
  }
}

@media screen and (min-width: 769px) {
  .bar::before {
    content: "style 1";
  }
}
